---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageName}}</title>
    <link rel="stylesheet" href="../style-vocal.css">
</head>
<body>
    <header id="header">
        <div class="header-container">
            <h1><a href="/">{{websiteName}}</a></h1>
            <ul class="lists-header">
                <li class="headerbutton"><a href="/">{{home}}</a></li>
                <li class="headerbutton"><a href="../vocaldemos">{{vocal}}</a></li>
                <li class="headerbutton"><a href="#footer">{{contact}}</a></li>
            </ul>
        </div>
    </header>
    <h2 class="vocaldemossectionstitle">{{title1}}</h2>
    <span hidden>{% increment numberInAudioContainerBase %}</span>
    <div class="vocalDemosEverything">
        {% for singing in vocals %}
        <span hidden>{% increment numberInAudioContainerBase %}</span>
        <div class="vocaldemoscontainer">    
            <img class="imgvocaldemos" src="{{singing.image_vocals}}" alt="">
            <div class="nottheimg">
                <p>{{singing.vocalsText}}</p>
                <div class="AudioContainer">
                    <div data-audio="{{numberInAudioContainerBase}}" class="PlayButton"></div>
                    <input id="timeline{{numberInAudioContainerBase}}" type="range" class="timeline" max="100" value="0">
                    <audio id="audio{{numberInAudioContainerBase}}" src="{{singing.vocalsSound}}"></audio>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h2 class="vocaldemossectionstitle">{{title2}}</h2>
    <div class="vocalDemosEverything">
        {% for VA in voiceActing %}
        <span hidden>{% increment numberInAudioContainerBase %}</span>
        <div class="vocaldemoscontainer">    
            <img class="imgvocaldemos" src="{{VA.image_voiceActing}}" alt="">
            <div class="nottheimg">
                <p>{{VA.voiceActingText}}</p>
                <div class="AudioContainer">
                    <div data-audio="{{numberInAudioContainerBase}}" class="PlayButton"></div>
                    <input id="timeline{{numberInAudioContainerBase}}" type="range" class="timeline" max="100" value="0">
                    <audio id="audio{{numberInAudioContainerBase}}" src="{{VA.voiceActingSound}}"></audio>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="center">
        <footer id="footer">
            <h2 class="textcenter">{{titleContact}}</h2>
            <div id="txtfooter">
                <div class="nolineheight">
                    <p><span class="tabspaceright">📞</span>{{ukPhoneText}}: <a href="tel:{{ukPhone1}}">{{ukPhone2}}</a></p>
                    <p class="tabspaceleft">{{frPhoneText}}: <a href="tel:{{frPhone1}}">{{frPhone2}}</a></p>
                </div>
                <p><span class="tabspaceright">📧</span>{{mailText}}: <a href="mailto: {{contactMail}}">{{contactMail}}</a></p>
                <p><span class="footersymbol tabspaceright">@</span>{{textMandyProfile}}: <a href="{{mandyProfile}}" target="_blank">{{mandyProfile}}</a></p>
            </div>
        </footer>
    </div>
    <a href="#header">Back to top</a>
    <script src="../ressources/AudioPlayer.js"></script>
</body>
</html>